.footer {
	background-color: rgb(181, 18, 27);
	height: 30vh;
	display: flex;
	color: white;
	justify-content: space-between;
	align-items: center;
}

a {
	color: white;
	text-decoration: none;
}


.left, .right {
	line-height: 25px;
}

.left {
	margin-left: 5%;
}

.right {
	margin-right: 5%;
}

.address {
	margin-bottom: 5%;
}

.logo_small {
	background-image: url("../images/logo_small.svg");
	background-repeat: no-repeat;
	height: 80%;
}

#opening {
	font-weight: 700;
}