.nav {
	background-color: rgb(181, 18, 27);
	height: 15vh;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
}

.logo {
	background-image: url("../images/logo.svg");
	width: 50%;
	height: 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	margin-left: 5%;
}

.nav_menu {
	width: 50%;
	text-align: right;
	margin-right: 5%;
}

.menu-item {
	display: inline;
	color: white;
	padding: 0 3%;
}

.menu-item a {
	text-decoration: none;
	color: white;
}

li.phone {
	font-weight: 700;
	padding-right: 0;
}